<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDxT_Ad8l_OX0qXQD8SgUVctm888tVc0Ns</string>
	<key>GCM_SENDER_ID</key>
	<string>147224310719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myfarm</string>
	<key>PROJECT_ID</key>
	<string>myfarm-d0bcd</string>
	<key>STORAGE_BUCKET</key>
	<string>myfarm-d0bcd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:147224310719:ios:f35ea617a47245a15be70a</string>
</dict>
</plist>